<%= form_with model:genre, url: url do |f| %>
	<%= render 'layouts/error_messages', resource: genre %>
	<div class="form-group form-inline">
		<div class="col-md-4"><%= f.label :name, "ジャンル名:" %></div>
		<div class="col-md-6"><%= f.text_field :name %></div>
		<!--<#%= f.radio_button :is_active, true %>-->
		<!--<#%= f.label :is_active, "有効", class: "text-active" %>-->
		<!--<#%= f.radio_button :is_active, false %>-->
		<!--<#%= f.label :is_active, "無効", class: "text-invalid" %>-->
		<div class="col-md-2"><%= f.submit submit, class: "btn btn-success ml2" %></div>
	</div>
<% end %>